<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body>

<div id="top_img">5

    <button class="sign-in" onclick="window.location.href='sign-in'">Войти</button>
    <button class="sign-up" onclick="window.location.href='sign-up'">Зарегистрироваться</button>
    <button class="shopping-cart" onclick="window.location.href='cart'">Корзина</button>

</div>

<div class="wrapper">

    <div class="container">
        <button class="add-photo-button" onclick="window.location.href='upload-image'">Добавить фото</button>
        <button class="catalog-button" onclick="window.location.href='catalog'">Каталог</button>
    </div>

</div>
</body>
</html>