<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEMP-SIGN-UP</title>
        <link rel="stylesheet" href="../resources/css/style.css">
    </head>
<body>
<div class="wrapper">

<div id="top_img">

    <button >
        <img src="../resources/images/upper_nav_left.png" alt="">
    </button>
    <button class="sign-in">Войти</button>
    <input type="image" src="../resources/images/upper_nav_left.png">

<!--    <div id="top_l">-->
<!--        <div id="top1"></div>-->
<!--        <button id="sign-button">Зарегистрироваться</button>-->
<!--    </div>-->


<!--    <div id="top2"></div>-->
</div>
<!--<h1>Sign Up</h1>-->

<!--<form method="post">-->
<!--    <label>Username-->
<!--        <input name="firstName" type="text">-->
<!--    </label>-->
<!--    <label>Email-->
<!--        <input name="email" type="email">-->
<!--    </label>-->
<!--    <label>Password-->
<!--        <input name="password" type="password">-->
<!--    </label>-->
<!--    <input type="submit">-->
<!--</form>-->


</div>
</body>
</html>