<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body>
<div id="top_img">

    <button class="sign-in" onclick="window.location.href='sign-in'">Войти</button>
    <button class="sign-up" onclick="window.location.href='sign-up'">Зарегистрироваться</button>
    <button class="shopping-cart" onclick="window.location.href='cart'">Корзина</button>

</div>
<!--<#include "top.ftl">-->

<div class="wrapper">

    <div class="container">

    </div>


    <button class="button-option" id="button-delete-cart">Очистить корзину</button>
    <div id="cart-list">
        <#list items as item>
        <div>
            <!-- TODO: Do item handling here -->
            ${item.name}
        </div>
    </#list>
</div>

</div>
</body>
</html>