# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Study\2 course\Java\KarimovR_11005_3rd_sem_JAVA\S.T.A.L.K.E.R.shop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
