:root {
    --color-accent: #dc9d31;
    --color-accent-dark: #a4781b;
    --color-accent-light: #e8a626;
    --color-accent-alt: #cb6b33;
    --color-accent-dark-alt: #a84e00;
    --color-background: #0e2436;
    --color-background-dark: #08151e;
    --color-gray: #ffffffb5;
    --size-font-header: 1.8rem;
    --size-font-bigger: 1.2rem;
    --size-header: 100px
}

html {
    margin-top: 100px;
    background: #071218 url(../images/design/bg.png) top left repeat;
    font-family: Tahoma, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 250px 0 0 0;
    min-height: 500px;
    background: url(../images/design/bg_top.jpg) center 0 no-repeat;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: var(--size-header);
    z-index: 10;
    margin-top: 0;
    padding-top: 0;
    background-color: var(--color-background-dark);
}

.header-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 20px 14%;
    padding: 0 20px 0 20px;
}

.header-wrapper > * {
    flex-grow: 0;
}

.header-wrapper > button {
    margin-left: 20px;
}

.header-icon {
    margin-right: 20px;
    height: 60px;
    width: 60px;
}

.header-name {
    flex-grow: 1;
    font-size: var(--size-font-header);
}

.wrapper {
    margin: 20px 14%;
}

.material-icons-outlined {
    position: relative;
    top: 4px;
}

p {
    color: white;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

button, input[type=submit], .form-button-file-upload {
    color: white;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-accent);
    background-color: var(--color-background);
    font-size: 20px;
    padding: 10px;
}

button:hover, input[type=submit]:hover, .form-button-file-upload:hover {
    background-color: var(--color-accent-dark) !important;
}

button:active, input[type=submit]:active, .form-button-file-upload:active {
    background-color: var(--color-accent-light) !important;
}

.text-header {
    font-size: var(--size-font-header);
}

.text-bigger, .text-bigger-bold {
    font-size: var(--size-font-bigger);
}

.text-bigger-bold {
    font-weight: bold;
}

#button-scroll-to-top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10;
}