.container {
    min-width: 480px;
}

.item {
    display: flex;
    align-items: center;
    margin: 20px;
    outline: 4px solid var(--color-background-dark);
    background: var(--color-background);
}

.item:hover {
    outline: 4px solid var(--color-accent);
}

.item > * {
    flex-grow: 0;
    margin: 20px;
}

.item-image {
    object-fit: contain;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.item-info {
    flex-grow: 1;
}

.item-info > * {
    margin-bottom: 10px;
}

.container-options {
    display: flex;
    margin: 20px;
    outline: 4px solid var(--color-accent);
    background: var(--color-background);
}

.container-options > * {
    margin: 20px;
}

.options-info {
    flex-grow: 1;
}

.options-info > p {
    margin-bottom: 10px;
}

.options-actions {
    display: flex;
    flex-direction: column;
}

.options-actions > button {
    margin-bottom: 20px;
}

.options-actions > button:last-child {
    margin-bottom: 0;
}

#button-scroll-to-top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10;
}

#button-scroll-to-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
