.header-button-cart, .header-button-profile{
    margin-left: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    /*
    * These three can be simplified
    * and turned into 'flex: 1'
    */
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 400px;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    outline:  4px solid var(--color-background-dark);
    background: var(--color-background);
}

.item:hover {
    outline: 4px solid var(--color-accent);
}

.item > * {
    margin: 20px;
}

.item-header {
    flex-grow: 0;
    display: flex;
}

.item-header-image {
    object-fit: contain;
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.item-header-info > * {
    margin-top: 10px;
}

.item-header-info-name {
    font-weight: bold;
    font-size: var(--size-font-bigger);
}

.item-description {
    flex-grow: 1;
}

.item-button-add {
    flex-grow: 0;
    align-self: end;
}