.user-section {
    display: flex;
    flex-wrap: wrap;
    background: var(--color-background);
    outline:  4px solid var(--color-background-dark);
    padding: 20px;
}

.user-section > * {
    margin: 20px;
}

.user-section-info {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.user-section-info > p {
    margin-top: 0;
    margin-right: 40px;
    margin-left: 0;
}

.info-name {
    font-weight: bold;
    font-size: var(--size-font-header);
}

.info-email {
    font-size: var(--size-font-bigger);
    color: var(--color-gray)
}

.user-section-actions {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

.user-section-actions > button {
    margin-bottom: 20px;
}

.user-section-actions > button:last-child {
    margin-bottom: 0;
}

.user-section-avatar {
    flex-grow: 0;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid transparent;
}

.user-section-avatar:hover {
    border: 3px solid var(--color-accent);
}