.user-section {
    display: flex;
    flex-wrap: wrap;
    background: #0e2436;
    padding: 20px;
}

.user-section > * {
    margin: 20px;
}

.user-section-info {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.user-section-info > p {
    margin-top: 0;
    margin-right: 40px;
    margin-left: 0;
}

.user-section-info-name {
    margin-bottom: 10px;
    font-size: 28px;
    color: white;
}

.user-section-info-email {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.71);
}

.user-section-actions {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

.user-section-actions > button {
    margin-bottom: 20px;
}

.user-section-avatar {
    flex-grow: 0;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid transparent;
}

.user-section-avatar:hover {
    border: 3px solid var(--color-accent);
}

.user-section-actions > button > .material-icons-outlined {
    position: relative;
    top: 6px;
}