html {
    height: 100%; min-width: 1115px; background: #071218 url(../images/design/bg.png) top left repeat;
}
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, img, form, fieldset, blockquote {
    margin:0px;
    padding:0px;
    border:0px;
}
body {
    /*background-attachment: fixed;*/
    color: gold;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    background: url(../images/design/bg_top.jpg) center 0% no-repeat;
}
.wrapper {
    width: 80%;
    max-width: 720px;
}
.container {
    margin-top: 30%;
    width: 80%;
    display: block;
    justify-content: center;
    /*float: left;*/
    /*background: url(../images/content_left_foot_cut.png) bottom left no-repeat;*/
}
.item {
    background-image: url("../images/design/content_title1_frame.png");
    position: relative;
    background-size: cover;
    padding: 30px;
    display: flex;
    align-items: center;
}
.button-add-to-cart {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.width-item{
    width: 50px;
}
#top_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    /*left: 200px;*/
    /*right: 200px;*/
}
.sign-in {
    background: url(../images/design/upper_nav_left.png) 50% 50% no-repeat;
    background-size: contain;
    height: 99px;
    width: 372px;
    /*onclick="window.location.href='sign-in'"*/

}
.sign-up {
    background: url(../images/design/upper_nav_right.png) 50% 50% no-repeat;
    background-size: contain;
    height: 99px;
    width: 372px;
    /*onclick="window.location.href='sign-up'"*/
}
.shopping-cart {
    background: url(../images/design/content_title1_frame.png) 50% 50% no-repeat;
    background-size: contain;
    height: 99px;
    width: 99px;
}
#form {
    display: block;
}
#forms {
    display: block;
}
.add-photo-button {
    color: #ffbb2f;
    background: url(../images/design/sidebar_menu_bg.png) 50% 50% no-repeat;
    background-size: contain;
    height: 20px;
    width: 150px;
}
.catalog-button {
    color: #ffbb2f;
    background: url(../images/design/sidebar_menu_bg.png) 50% 50% no-repeat;
    background-size: contain;
    height: 20px;
    width: 99px;
}
.button-option {
    color: #ffbb2f;
    background: url(../images/design/sidebar_menu_bg.png) 50% 50% no-repeat;
    background-size: contain;
    height: 20px;
    width: fit-content;
}
/*#top1 {*/
/*    !*display: inline-block;*!*/
/*    !*display: flex;*!*/

/*    width: 372px;*/
/*    height: 99px;*/
/*    float: left;*/
/*    !*padding-left: 400px;*!*/
/*    background: url(../images/upper_nav_left.png) top right no-repeat;*/
/*}*/
/*#top2 {*/

/*    display: inline-block;*/
/*    width: 372px;*/
/*    height: 99px;*/
/*    float: left;*/
/*    !*padding-left: 700px;*!*/
/*    background: url(../images/upper_nav_right.png) top right no-repeat;*/
/*}*/
/*Хотел сделать картинку, а потом на неё снизу подтащить кнопку. Мб когда-нибудь*/
/*попробуем*/
/*#top_l {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*#sign-button {*/
/*    !*position: relative;*!*/
/*    position: absolute;*/
/*    top: 10%;*/
/*    left: 36%;*/
/*    !*left: 0;*!*/
/*    !*right: 0;*!*/
/*    !*margin-top: 20%;*!*/
/*    !*margin: auto;*!*/
/*}*/
