.form-upload-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-upload-image > * {
    margin-bottom: 20px;
}

.form-upload-image > *:last-child {
    margin-bottom: 0;
}

.section-form {
    justify-content: center;
}

#form-file-upload {
    display: none;
}

.form-button-file-upload {
    /* Use due to width mismatch between button and label */
    width: 206px;
    /* Use due to height mismatch between button and label */
    padding-top: 9px;
    text-align: center;
}

.form-upload-image > button, .form-upload-image > input {
    width: 230px;
}

#form-submit {
    display: none;
}