<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="../../resources/css/catalog.css">
    <script src="/resources/js/jquery.min.js" type="text/javascript"></script>
    <script src="/resources/js/catalog.js" type="text/javascript"></script>
</head>

<body>
<section class="wrapper">
    <div class="item">
        <div class="item-header">
            <div class="item-header-image"></div>
            <div class="item-header-container">
                <p class="item-header-info-name">Item name</p>
                <p class="item-price">200$</p>
            </div>
        </div>
        <p class="item-description">Sample description of an item that often takes a lot of space to display.</p>
        <button class="item-button-add">Add to cart</button>
    </div>
    <div class="item">
        <div class="item-header">
            <div class="item-header-image"></div>
            <div class="item-header-container">
                <p class="item-header-info-name">Item name</p>
                <p class="item-price">200$</p>
            </div>
        </div>
        <p class="item-description">Sample description of an item that often takes a lot of space to display.</p>
        <button class="item-button-add">Add to cart</button>
    </div>
    <div class="item">
        <div class="item-header">
            <div class="item-header-image"></div>
            <div class="item-header-container">
                <p class="item-header-info-name">Item name</p>
                <p class="item-price">200$</p>
            </div>
        </div>
        <p class="item-description">Sample description of an item that often takes a lot of space to display.</p>
        <button class="item-button-add">Add to cart</button>
    </div>
    <div class="item">
        <div class="item-header">
            <div class="item-header-image"></div>
            <div class="item-header-container">
                <p class="item-header-info-name">Item name</p>
                <p class="item-price">200$</p>
            </div>
        </div>
        <p class="item-description">Sample description of an item that often takes a lot of space to display.</p>
        <button class="item-button-add">Add to cart</button>
    </div>
    <div class="item">
        <div class="item-header">
            <div class="item-header-image"></div>
            <div class="item-header-container">
                <p class="item-header-info-name">Item name</p>
                <p class="item-price">200$</p>
            </div>
        </div>
        <p class="item-description">Sample description of an item that often takes a lot of space to display.</p>
        <button class="item-button-add">Add to cart</button>
    </div>
    <div class="item">
        <div class="item-header">
            <div class="item-header-image"></div>
            <div class="item-header-container">
                <p class="item-header-info-name">Item name</p>
                <p class="item-price">200$</p>
            </div>
        </div>
        <p class="item-description">Sample description of an item that often takes a lot of space to display.</p>
        <button class="item-button-add">Add to cart</button>
    </div>
    <div class="item">
        <div class="item-header">
            <div class="item-header-image"></div>
            <div class="item-header-container">
                <p class="item-header-info-name">Item name</p>
                <p class="item-price">200$</p>
            </div>
        </div>
        <p class="item-description">Sample description of an item that often takes a lot of space to display.</p>
        <button class="item-button-add">Add to cart</button>
    </div>
    <div class="item">
        <div class="item-header">
            <div class="item-header-image"></div>
            <div class="item-header-container">
                <p class="item-header-info-name">Item name</p>
                <p class="item-price">200$</p>
            </div>
        </div>
        <p class="item-description">Sample description of an item that often takes a lot of space to display.</p>
        <button class="item-button-add">Add to cart</button>
    </div>
</section>
</body>
</html>